<% include ../partial/header %>
<div class="container">
<header class="jumbotron">
		<div class="container"> 
		<h1>Welcome to YelpCamp	!!</h1>
		<p>View our hand-picked campgrounds all over the world</p>
		<p>
		<a class="btn btn-primary btn-large" href="/admin/campgrounds/new">Add a new campground</a>
		</p>
		</div>
</header>
<div class="row text-center" style="display: flex; flex-wrap: wrap;">
	<ul>
	<% campgrounds.forEach(function(campground){ %>
		
					<li>
			 <P><a href="/admin/campgrounds/<%=campground._id%>/edit"><h4><%= campground.name %></h4></a></P>
			</li>
		
	<% }); %>
</ul>
	</div>
</div>
<% include ../partial/footer %>