<!DOCTYPE html>
<html>
<head>
	<title>.::VYBE::.</title>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=0.8"> -->
   <meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.5/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<div id="top">
        <header class="">
          <div class="wrapper">
            <div class="logo">
              <a href="Home.html" class="black"><img src="/images/logo.png" alt=""></a>
              <a href="Home.html" class="white"><img src="/images/logo-white.png" alt=""></a>
            </div>
            <nav>
              <div class="bars">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
              <div class="menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our Listings</a></li>
                  <li><a href="#">Amenities</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
</div>